<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.odoo.work">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.LoginSignup" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.LoginSignup" />

        <service android:name=".core.support.account.OdooAccountService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!--Sync service and provider-->
        <service
            android:name=".sync.OdooSyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>

        <provider
            android:name=".sync.provider.OdooProvider"
            android:authorities="com.odoo.work.sync"
            android:exported="true"
            android:syncable="true" />


        <!--Partner sync service and provider-->
        <service
            android:name=".orm.models.services.ResPartnerService"
            android:exported="true"
            android:process=":sync_partner">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/partner_sync_adapter" />
        </service>

        <provider
            android:name=".orm.models.provider.ResPartnerProvider"
            android:authorities="com.odoo.work.orm.model.partner"
            android:exported="true"
            android:label="@string/partner_sync"
            android:syncable="true" />

        <!--Project sync service and provider-->
        <service
            android:name=".orm.models.services.ProjectService"
            android:exported="true"
            android:process=":sync_project">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/project_sync_adapter" />
        </service>

        <provider
            android:name=".orm.models.provider.ProjectProvider"
            android:authorities="@string/project_authority"
            android:exported="true"
            android:label="@string/project_sync"
            android:syncable="true" />

        <activity android:name=".HomeActivity" />

    </application>

</manifest>