<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.odoo.work">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">

        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.LoginSignup" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.LoginSignup" />

        <service android:name=".core.support.account.OdooAccountService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity android:name=".HomeActivity" />
        <activity
            android:name=".TeamName"
            android:theme="@style/AppTheme.ActionBar" >

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity
            android:name=".TeamAddMembers"

            android:theme="@style/AppTheme.ActionBar">

        </activity>
        <activity
            android:name=".AddByEmail"
            android:theme="@style/AppTheme.ActionBar" />

    </application>

</manifest>